.card-link svg {
  fill: rgb(15, 111, 255);
  height: 20px;
}

.card-img-top {
  height: 100%;
  width: 100%
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding-bottom: 1px; */
    /* padding-top: 20px; */
    /* padding-right: 30px; */
}
