#box{
    background-color: aliceblue;
    height:300px;
    width: 700px;
    visibility: hidden;
}

body{
    background-color:rgb(28, 22, 47);
}

#box.show{
    visibility: visible;
}


.mykind{
    background-color: aliceblue;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}